- var title="Название страницы 213213"
doctype
html 
    head 
        link(rel="stylesheet", href="style.css")
        title #{title}
        
    body
        include includes/header.pug
        //Главное меню
        h3 123123123
        nav 
            ul
                li.active: a(href="#") Main
                li
                    a Main
                li
                    a Main
        h1 #{title}

        img(src="", alt="")
        p Lorem ipsum dolor sit amet consectetur, 
            | elit. Aliquam, nemo! Magni accusantium fugiat nam repellat recusandae sit ea. Inventore sapiente perferendis, minima sed repellendus minus nesciunt tempora eveniet obcaecati nobis?
        .block 123
        .block.block1 123
        #identificator
        .c#i
        include includes/pug_part.pug
        div
            div 
                div
            div 
                div 1231123123123123123
        .text
            include texts/mytext.txt
        