// Шапка сайта
header
    .logo
    nav
        ul 
            li: a(href="#") Text
            li: a(href="#") Text
            li: a(href="#") Text
            li: a(href="#") Text
            li: a(href="#") Text
            li: a(href="#") Text
            li: a(href="#") Text